.warranty {
  .section__title {
    text-align: center;
    @media screen and (max-width: 980px) {
      text-align: left;
    }
    }
    &__subtitle {
      color: #898989;
      text-align: center;
      @media screen and (max-width: 980px) {
        text-align: left;
      }
  }
  &__head {
    margin-bottom: 20vh;
    @media screen and (max-width: 1400px) {
      margin-bottom: 40px;
    }
  }
  &__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    @media screen and (max-width: 980px) {
      flex-flow: column nowrap;
      gap: 60px;
    }
  }
  &__item {
    width: 31%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1vh;
    @media screen and (max-width: 980px) {
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      gap: 20px;
    }
  }
  &__inum {
    color: #898989;
    align-self: flex-end;
    @media screen and (max-width: 980px) {
      align-self: stretch;
      width: 100%;
    }
  }
  &__point {
    @extend .bigger-title;
    margin-bottom: 1vh;
    @media screen and (max-width: 980px) {
      margin-bottom: 0;
      font-size: 90px !important;
    }
    @media screen and (max-width: 470px) {
      margin-bottom: 0;
      font-size: 40px !important;
    }
    }
    &__idesc-main {
      @media screen and (max-width: 980px) {
        margin-bottom: 0;
        font-size: 40px !important;
      }
  }
  &__idesc-small {
    font-size: 14px;
  }
}