.btn {
  color: #fff;
  @extend .smaller-text;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  border: 1px solid #fff;
  padding: 15px 55px;
  border-radius: 20px;
  transition: .3s all ease;
  position: relative;
  @media screen and (max-width: 1800px) {
    padding: 15px 30px;
  }
  @media screen and (max-width: 1400px) {
    padding: 15px 20px;
    border-radius: 14px;
  }
  @media screen and (max-width: 980px) {
    padding: 10px 15px;
    gap: 20px;
  }
  @media screen and (max-width: 768px) {
    padding: 10px 10px;
    gap: 15px;
  }
  &:hover {
    transform: scale(1.2);
    background-color: #898989;
    color: #000;
    z-index: 2;
  }
  &_blue {
    background-color: #3548FE;
    border-color: #3548FE;
    &:hover {
      background-color: #3548FE;
      color: #fff;
    }

  }
  &_active {
    background-color: #fff;
    color: #000;
    &:hover {
      transform: scale(1);
      background-color: #fff;
      color: #000;
    }
  }
  &__icon {
    font-size: 0;
    width: 20px;
    svg {
      width: 100%;
    }
  }
}