.services {
  .section__name {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .section__title {
    text-align: center;
    @media screen and (max-width: 500px) {
      
    }
  }
  &__head {
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 50px;
    @media screen and (max-width: 980px) {
      
    }
  }
  &__item {
    margin-left: 50%;
    position: relative;
    @media screen and (max-width: 980px) {
      margin-left: 0;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
    }
  }
  &__i {
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    width: max-content;
    color: #898989;
    @media screen and (max-width: 980px) {
      position: static;
    }
  }
  &__name {
    line-height: 1;
    @media screen and (max-width: 980px) {
      text-align: center;
    }
  }
}