.footer {
  width: calc(100% - 40px);
  background-color: rgba($color: #ffffff, $alpha: .1);
  margin: 0 auto;
  border-radius: 16px;
  padding: 50px;
  @media screen and (max-width: 724px) {
    padding: 30px 15px;
    .socials {
      width: 100%;
    }
  }
  .section__name {
    margin-bottom: 15px;
  }
  .section__title {
    margin-bottom: 40px;
  }
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3%;
    @media screen and (max-width: 724px) {
      flex-flow: column;
    }
  }
  &__half {
    width: 47%;
    &:nth-child(2) {
      width: 50%;
      .footer__data {
        margin-left: auto;
      }
    }
    @media screen and (max-width: 724px) {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      &:nth-child(2) {
        width: 100%;
        .footer__data {
          margin-left: unset;
        }
      }
    }
  }
  &__element {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (max-width: 1300px) {
      flex-flow: column;
    }
    @media screen and (max-width: 724px) {
      width: max-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__name {
    width: 40%;
    @media screen and (max-width: 1300px) {
      margin-bottom: 20px;
    }
  }
}